---
title: 4 Oh 4
permalink: 404.html
heroBgColor: pringles
heroTextColor: white
heroFooter: yes
highlightColor: yellow
color: bg-yellow text-black
heroTextOne:
heroTextTwo:
imagedec: first:mt-0 mt-20 mb-2
---

{% extends "_includes/layouts/base.njk" %}

{% block title %}{% endblock %}

  {% block content %}

    {% include "404.njk" %}

  {% endblock %}

