---
title: Domain
pagetitle: Domain
description: Coming Soon.
heroHeader: yes
heroFooter: yes
heroBgColor: purple
heroTextColor: white
heroTextOne: Sale (stoqe.com)
heroTextTwo:
menuFooter: yes
signupHeader: 
signupFooter:
---

{% extends "_includes/layouts/base.njk" %}

{% block content %}
<div class=" {{ heroBgColor }}/10">
    <div class="{{ site.style.container }}">
        <p class="{{ site.style.p }}">
            This 5-letter .com domain is for sale along with the exact-match 5-letter social medial handles (Twitter and Instagram) which are @stoqe. 
        </p>
    </div>
</div>
{% endblock %}