---
title: For Sale
pagetitle: For Sale
description: Coming Soon.
heroHeader: yes
heroFooter: yes
heroBgColor: pink
heroTextColor: white
heroTextOne: of stoqe.com
heroTextTwo:
menuFooter: yes
signupHeader: 
signupFooter:
---

{% extends "_includes/layouts/base.njk" %}

{% block content %}
<div class=" {{ heroBgColor }}/10">
    <div class="{{ site.style.container }}">
        <p class="{{ site.style.p }}">
            stoqe.com is for sale for the first time ever. 
            <br><br>
            The sale includes the 5-letter .com domain (stoqe.com) plus the connected socials (@stoqe on Insta + Twitter).
        </p>
    </div>
</div>
{% endblock %}