---
title: History
pagetitle: History
description: Coming Soon.
heroHeader: yes
heroFooter: yes
heroBgColor: blue
heroTextColor: white
heroTextOne: Sale — stoqe.com
heroTextTwo:
menuFooter: yes
signupHeader: 
signupFooter:
---

{% extends "_includes/layouts/base.njk" %}

{% block content %}
<div class="container px-6 w-full sm:w-4/5 sm:mx-auto pt-0">
    stoqe.com was registered in 2014 and was a Digital Agency webite for the following 8 years (until September 2022). 
    <br><br>
    Historically speaking it has been associated with a digital creative service/agency who specialised in websites, coding, and consulting.
</div> 
{% endblock %}