---
type: message
title: Thank You
heroHeader: yes
heroFooter: yes
heroBgColor: greenCrayola
heroTextColor: white
heroTextOne: Thanks. You'll be the first to know when new SAYSO art drops...  
heroTextTwo:
menuFooter: yes
signupHeader: no
signupFooter: no
---

{% extends "_includes/layouts/base.njk" %}

{% block title %}{% endblock %}

{% block content %}{% endblock %}

