---
type: message
title: Thank You
heroHeader: yes
heroFooter: yes
heroBgColor: greenCrayola
heroTextColor: white
heroTextOne: Thanks for writing.  
heroTextTwo:
menuFooter: yes
signupHeader: yes
signupFooter: no
---

{% extends "_includes/layouts/base.njk" %}

{% block title %}{% endblock %}

{% block content %}{% endblock %}

