<!-- 404 -->
<div id="thank-you" class="bg-{{ heroBgColor }}">
    <div class="{{ site.style.container }}">
        <p class="{{ site.aoc.style.p }} {{ site.style.p }}">
            (404) Something went wrong.&nbsp;<br class="hidden sm:inline">The links below will rescue you...
        </p>
    </div>
  </div>