<!-- AOC -->
<div id="thank-you" class="bg-{{ heroBgColor }}">
    <div class="{{ site.style.container }}">
        <p class="{{ site.aoc.style.p }} {{ site.style.p }}">
            Thanks, you'll be the first to know when new SAYSO art drops...
        </p>
    </div>
  </div>