<!-- FUN FACT -->
<div class="{{ site.whoops.style.block }}">
    <div class="{{ site.whoops.style.container }} {{ site.style.container }}">
          <p class="{{ site.style.p }}">
              <span class="{{ site.whoops.style.title }}">{{ site.whoops.title }}</span>
              {{ site.whoops.p }}
          </p>
      </div>
  </div>
  